@font-face {
    font-family: NotoSansJP;
    src: url(fonts/NotoSansJP-VariableFont_wght.ttf);
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(pictures/DSC00768.JPG);
    
}
h1{
    font-family: NotoSansJP, Arial, Helvetica, sans-serif;
    border: 10px groove teal;
    border-radius: 50px;
    text-shadow: 3px 3px 5px tomato, -3px -3px 5px lightblue; 
}
#p1{
    background: whitesmoke;
    display: block;
    border: 5px dashed orange ;
    padding: 10px 30px;
    text-align: center;
}
#p2{
    text-align: center;
    color: cadetblue;
}
#nagoya{
    width: 50%;
    height: fit-content;
}
#neko{
    width: 80%;
    height: 80%;
}
#korankei{
    width: 400px; 
    height:300px ;
}
a:link{
    color: aquamarine;
}
a:hover{
    color: green;
}
a:active{
    font-size: 1.1em;
    color: blueviolet;
}

a:visited{
    color: gray;
}

